<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Licorice&family=Luxurious+Roman&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Perfil</title>
</head>

<body>

    <header class="header">
        <div>
            <a class="header__logo" href="/">meOrganizoApp</a>
        </div>
        <nav id="menu" class="header__nav">
            <ul class="header__list">
                <li class="listitem"><a href="/">Inicio</a></li>
                <li class="listitem"><a href="/module/tasks/{{ user.id }}">Perfil</a></li>
                <li class="listitem"><a href="/auth/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
        <div class="header__btn">
            <i id="btn" class="fas fa-bars fa-2x"></i>
        </div>
    </header>

    <main class="mainprofile specialbackground">
        <section class="left">
            <p class="home__paragraph">Bienvenido {{ user.name }}</p>
            <article class="left__clock">
                <div class="left__datetop">
                    <p id="dateone"></p>
                </div>
                <div class="left__datebottom">
                    <p id="datetwo">h</p>
                </div>
            </article>
            <article class="left__form home__generalelement">
                <form action="/module/create/{{ user.id }}" method="POST" id="formtask" class="formtasks">
                    <div class="left__taskform">
                        <input type="text" id="task" name="task" placeholder="Ingresa una tarea" required>
                    </div>
                    <div class="left__taskform">
                        <label for="date">Ingresa una fecha:</label>
                        <input name="date" id="date" min="2021-01-28" type="datetime-local" required>
                    </div>
                    <div class="left__taskform">
                        <label for="priority">Prioridad:</label>
                        <select name="priority" id="priority">
                            <option value="Alta">Alta</option>
                            <option value="Media">Media</option>
                            <option value="Baja">Baja</option>
                        </select>
                    </div>
                    <div class="left__taskform">
                        <button class="home__button left__button" id="btnTask" type="submit">Agregar</button>
                        <button class="home__button left__button" id="btnOrder" type="button">Ordenar por Prioridad</button>
                    </div>
                </form>
            </article>
        </section>
        <section class="right">
            <article class="right__article">
                <div class="right__blocktable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Prioridad</th>
                            <th>Tarea</th>
                            <th>Fecha Final</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" class="tbody">
                        {{#each data}}
                        <tr>
                            <td><input type="checkbox" class="check"></td>
                            <td class="priority">{{priority}}</td>
                            <td>{{task}}</td>
                            <td>{{date_final}}</td>
                            <td><a class="iconlink" href="/module/updatetask/{{id}}"><i class="far fa-edit icon_pointer"></i></a></td>
                            <td><a href="/module/delete/{{id}}" class="iconlink"><i class="fas fa-times icon_pointer"></i></a></td>
                            <td class="status">{{status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            </article>
        </section>

        {{#if message}}
        <div id="parentMessageRegister" class="containerEmergentMessage">
            <div class="containerEmergentMessage__message">
                <p>{{message}}</p>
                <i id="iconExit" class="fas fa-times containerEmergentMessage__icon"></i>
            </div>
        </div>
        {{/if}}

        <div id="parentMessageRegister" class="containerEmergentMessage hide">
            <div class="containerEmergentMessage__message">
                <p id="alertMessageRegister"></p>
                <i id="iconExit" class="fas fa-times containerEmergentMessage__icon"></i>
            </div>
        </div>
    </main>

    <footer class="footer">2022</footer>

    <script type="module" src="/js/profile.js"></script>
    <script type="module" src="/js/tasks.js"></script>
</body>

</html>