<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Licorice&family=Luxurious+Roman&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio de Sesión</title>
</head>

<body>
    <header class="header">
        <div>
            <a class="header__logo" href="/">meOrganizoApp</a>
        </div>
        <nav id="menu" class="header__nav">
            <ul class="header__list">
                <li class="listitem"><a href="/">Inicio</a></li>
                {{#if user}}
                <li class="listitem"><a href="/module/tasks/{{ user.id }}">Perfil</a></li>
                <li class="listitem"><a href="/auth/logout">Cerrar Sesión</a></li>
                {{else}}
                <li class="listitem"><a href="/login">Iniciar Sesión</a></li>
                <li class="listitem"><a href="/register">Registro</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="header__btn">
            <i id="btn" class="fas fa-bars fa-2x"></i>
        </div>
    </header>

    <main class="main specialbackground">
        <article class="home">
            <form class="home__generalelement home__form" action="/module/updatetask/{{data.[0].id}}" method="POST" id="formLogin">

                <label for="updatetask">Tarea:</label>
                <div class="home__formgroup">
                    <input type="text" id="updatetask" name="task" value="{{data.[0].task}}" required>
                </div>

                <label for="updatedate">Fecha:</label>
                <div class="home__formgroup">
                    <input name="date" id="updatedate" type="datetime-local" value="{{data.[0].date_final}}" required>
                </div>

                <label for="updatedate">Prioridad:</label>
                <div class="home__formgroup">
                    <select name="priority" id="priority">
                        <option value="{{data.[0].priority}}">{{data.[0].priority}}</option>
                    </select>
                </div>

                <button type="submit" id="btnupdate"
                    class="home__button home__buttondimensions_secondary">Editar</button>
            </form>

        </article>

        {{#if message}}
        <div id="parentMessageLogin" class="containerEmergentMessage">
            <div class="containerEmergentMessage__message">
                <p>{{message}}</p>
                <i id="iconExit" class="fas fa-times containerEmergentMessage__icon"></i>
            </div>
        </div>
        {{/if}}

        <div id="parentMessageLogin" class="containerEmergentMessage hide">
            <div class="containerEmergentMessage__message">
                <p id="alertMessageLogin"></p>
                <i id="iconExit" class="fas fa-times containerEmergentMessage__icon"></i>
            </div>
        </div>

    </main>


    <footer class="footer">
        2022
    </footer>

    <script type="module" src="/js/update.js"></script>
</body>

</html>